<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor de LDR</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Monitor de Intensidad Luminosa</h1>
    <p>Valor del LDR: <span id="ldrValue">--</span></p>
    <p>Estado de la alarma: <span id="alarmStatus">Desactivada</span></p>
    <button id="toggleButton">Activar Lectura</button>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>