<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Intensidad Luminosa</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 2rem;
            background: #f8f9fa;
            color: #333;
        }

        h1 {
            text-align: center;
        }

        canvas {
            display: block;
            margin: 0 auto;
            max-width: 2000px;
            max-height: 500px;
        }
    </style>
</head>

<body>
    <h1>Intensidad Luminosa (LDR)</h1>
    <canvas id="lightChart"></canvas>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>